# Common
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Virtual Environments
venv/
env/
ENV/

# Logs and Debug
*.log
analyze_*.txt

# Project specific
frontend/build/
backend/__pycache__/
backend/*.py[cod]
backend/.env
